<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7 p-rgt-sec">
        <div>
          <span class="p-tag">¡HOLA!</span>
          <h1 class="mt-4">Cristobal Vega</h1>
          <p class="p-desc mt-3 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Etiam dignissim diam quis enim lobortis scelerisque fermentum. Fermentum leo vel orci porta. Et
            sollicitudin ac orci phasellus egestas. Id aliquet risus feugiat in ante metus dictum at tempor. Nulla aliquet
            enim tortor at.
          </p>
          <a href="#" class="p-readme">Conocer más <img src="assets/img/002-play.png" alt="The icon for read more" width="24" class="ml-2"></a>
        </div>

        <div>
          <h6>Trabajemos juntos!</h6>
          <form class="form-inline" autocomplete="off">
            <div class="form-group">
              <input type="email" class="form-control" id="email" placeholder="¡dame tú email!" autocomplete="off">
            </div>
            <button class="btn btn-dark">Enviar</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>
