<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7 p-rgt-sec">
        <div>
          <span class="p-tag">¡HOLA!</span>
          <h1 class="mt-4">Cristobal Vega</h1>
          <p class="p-desc mt-3 mb-4">Programador. 1st-class Platzi Master. Frontend Developer. Enseñar es masticar la información y darla a los demás.
          </p>
          <a href="https://cristobalvega.me/" class="p-readme">Conocer más <img src="assets/img/002-play.png" alt="The icon for read more" width="24" class="ml-2"></a>
        </div>

        <div>
          <h6>Contacto:</h6>
          <form class="form-inline" autocomplete="off">
            <div class="form-group">
              <label for="email"></label><input type="email" class="form-control" id="email" placeholder="¡dame tú email!" autocomplete="off">
            </div>
            <button class="btn btn-dark">Enviar</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>
